<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sectionTitle</key>
		<string>基础组件</string>
		<key>sectionIcon</key>
		<string></string>
		<key>isShow</key>
		<false/>
		<key>rows</key>
		<array>
			<dict>
				<key>title</key>
				<string>Button 按钮</string>
				<key>icon</key>
				<string></string>
				<key>vc</key>
				<string></string>
				<key>isLast</key>
				<false/>
			</dict>
			<dict>
				<key>title</key>
				<string>Cell 单元格</string>
				<key>icon</key>
				<string></string>
				<key>vc</key>
				<string></string>
				<key>isLast</key>
				<false/>
			</dict>
			<dict>
				<key>title</key>
				<string>Icon 图标</string>
				<key>icon</key>
				<string></string>
				<key>vc</key>
				<string></string>
				<key>isLast</key>
				<true/>
			</dict>
			<dict>
				<key>title</key>
				<string>Image 图片</string>
				<key>icon</key>
				<string></string>
				<key>vc</key>
				<string></string>
				<key>isLast</key>
				<true/>
			</dict>
			<dict>
				<key>title</key>
				<string>Layout 布局</string>
				<key>icon</key>
				<string></string>
				<key>vc</key>
				<string></string>
				<key>isLast</key>
				<true/>
			</dict>
			<dict>
				<key>title</key>
				<string>Popup 弹出层</string>
				<key>icon</key>
				<string></string>
				<key>vc</key>
				<string></string>
				<key>isLast</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionTitle</key>
		<string>表单组件</string>
		<key>sectionIcon</key>
		<string></string>
		<key>isShow</key>
		<false/>
		<key>rows</key>
		<array>
			<dict>
				<key>title</key>
				<string>Checkbox 复选框</string>
				<key>icon</key>
				<string></string>
				<key>vc</key>
				<string></string>
				<key>isLast</key>
				<false/>
			</dict>
			<dict>
				<key>title</key>
				<string>DatetimePicker 时间选择</string>
				<key>icon</key>
				<string></string>
				<key>vc</key>
				<string></string>
				<key>isLast</key>
				<false/>
			</dict>
			<dict>
				<key>title</key>
				<string>Field 输入框</string>
				<key>icon</key>
				<string></string>
				<key>vc</key>
				<string></string>
				<key>isLast</key>
				<true/>
			</dict>
			<dict>
				<key>title</key>
				<string>NumberKeyboard 数字键盘</string>
				<key>icon</key>
				<string></string>
				<key>vc</key>
				<string></string>
				<key>isLast</key>
				<true/>
			</dict>
			<dict>
				<key>title</key>
				<string>PasswordInput 密码输入框</string>
				<key>icon</key>
				<string></string>
				<key>vc</key>
				<string></string>
				<key>isLast</key>
				<true/>
			</dict>
			<dict>
				<key>title</key>
				<string>Picker 选择器</string>
				<key>icon</key>
				<string></string>
				<key>vc</key>
				<string></string>
				<key>isLast</key>
				<true/>
			</dict>
			<dict>
				<key>title</key>
				<string>Radio 单选框</string>
				<key>icon</key>
				<string></string>
				<key>vc</key>
				<string></string>
				<key>isLast</key>
				<true/>
			</dict>
			<dict>
				<key>title</key>
				<string>Rate 评分</string>
				<key>icon</key>
				<string></string>
				<key>vc</key>
				<string></string>
				<key>isLast</key>
				<true/>
			</dict>
			<dict>
				<key>title</key>
				<string>Search 搜索</string>
				<key>icon</key>
				<string></string>
				<key>vc</key>
				<string></string>
				<key>isLast</key>
				<true/>
			</dict>
			<dict>
				<key>title</key>
				<string>Slider 滑块</string>
				<key>icon</key>
				<string></string>
				<key>vc</key>
				<string></string>
				<key>isLast</key>
				<true/>
			</dict>
			<dict>
				<key>title</key>
				<string>Stepper 步进器</string>
				<key>icon</key>
				<string></string>
				<key>vc</key>
				<string></string>
				<key>isLast</key>
				<true/>
			</dict>
			<dict>
				<key>title</key>
				<string>Switch 开关</string>
				<key>icon</key>
				<string></string>
				<key>vc</key>
				<string></string>
				<key>isLast</key>
				<true/>
			</dict>
			<dict>
				<key>title</key>
				<string>SwitchCell 开关单元格</string>
				<key>icon</key>
				<string></string>
				<key>vc</key>
				<string></string>
				<key>isLast</key>
				<true/>
			</dict>
			<dict>
				<key>title</key>
				<string>Uploader 文件上传</string>
				<key>icon</key>
				<string></string>
				<key>vc</key>
				<string></string>
				<key>isLast</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionTitle</key>
		<string>反馈组件</string>
		<key>sectionIcon</key>
		<string></string>
		<key>isShow</key>
		<false/>
		<key>rows</key>
		<array>
			<dict>
				<key>title</key>
				<string>Button 按钮</string>
				<key>icon</key>
				<string></string>
				<key>vc</key>
				<string></string>
				<key>isLast</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionTitle</key>
		<string>展示组件</string>
		<key>sectionIcon</key>
		<string></string>
		<key>isShow</key>
		<false/>
		<key>rows</key>
		<array>
			<dict>
				<key>title</key>
				<string>Button 按钮</string>
				<key>icon</key>
				<string></string>
				<key>vc</key>
				<string></string>
				<key>isLast</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionTitle</key>
		<string>导航组件</string>
		<key>sectionIcon</key>
		<string></string>
		<key>isShow</key>
		<false/>
		<key>rows</key>
		<array>
			<dict>
				<key>title</key>
				<string>Button 按钮</string>
				<key>icon</key>
				<string></string>
				<key>vc</key>
				<string></string>
				<key>isLast</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionTitle</key>
		<string>业务组件</string>
		<key>sectionIcon</key>
		<string></string>
		<key>isShow</key>
		<false/>
		<key>rows</key>
		<array>
			<dict>
				<key>title</key>
				<string>Button 按钮</string>
				<key>icon</key>
				<string></string>
				<key>vc</key>
				<string></string>
				<key>isLast</key>
				<false/>
			</dict>
		</array>
	</dict>
</array>
</plist>
